dist/
sources/
options/
cache/
logs/
build/
.vscode/*.local.json
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json
oslwright_setting.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec
.fletx/
# Django stuff:
*.log
*.log.*

# Environments
.env
.venv
venv
# setting
oslwright_setting.jsonc
oslwright.egg-info/
main.spec
.python-version
uv.lock
